.navigator-wrapper{
    width: 100%;
	height: 100vh;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1000;
	pointer-events: none;
}

.revealer_layer{
   
}

.revealer_layer:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0%;
    z-index: 1001;
}

.revealer_layer:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 1002;
}

.revealer_layer:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 1003;
}

.white{
    background-color: #fff;
}

.blue{
    background-color: #00213D;
}

.first-rev{
    animation: reveal-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;

}

.second-rev {
    animation: reveal-effect-3-2 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.third-rev {
    animation: reveal-effect-3-3 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}


@keyframes reveal-effect-3-1 {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    
	37.5%, 62.5% {
        transform: translate3d(0%, 0, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%, 100% {
        transform: translate3d(-100%, 0, 0);
	}
    
    
}

@keyframes reveal-effect-3-2 {
	0%, 12.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%, 62.5% {
        transform: translate3d(-100%, 0, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%, 100% {
        transform: translate3d(-200%, 0, 0);
	}
}

@keyframes reveal-effect-3-3 {
	0%, 25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%, 100% {
        transform: translate3d(-200%, 0, 0);
	}
}