@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../../public/Fonts/Roboto-Regular.otf') format('woff2');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../../../public/Fonts/Roboto-Medium.otf') format('woff2');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../../public/Fonts/Roboto-Bold.otf') format('woff2');
}


.online-hook-main {
    width: 100%;
    padding: 10vh 0;
    background-color: #f9f9f9;
}

.online-hook-wrapper {
    width: 90%;
    margin: 0 auto;
}

.one-first-row {
    display: flex;
    justify-content: space-between;
}

.one-first-left {
    width: 50%;
}

.first-left-wrapper {
    width: 100%;
}

.heading-desktop-h3 {
    font-size: clamp(2rem, 1.7642rem + 1.3974vw, 4rem);
    font-family: 'Roboto-Bold';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.one-first-right {
    width: 40%;
}

.text-medium-normal {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
}

.left-row {
    display: flex;
    width: 100%;
}

.left-row-cell {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.left-row-cell-wrapper {
    width: 80%;
}

.relume-icon {
    width: 48px;
    height: 48px;
}

.heading-desktop-h6 {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'Roboto-Bold';
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    margin-top: 12px;
}

.text-regular-normal {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;

}

.animated-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 160px;
}

.linee {
    flex-grow: 1;
    /* Allows lines to grow and fill the space */
    height: 2px;
    background-color: #000;
    opacity: 0;
    transform: scaleX(0);
    /* Start with no horizontal scale */
    transform-origin: left;
    /* Scale from the left */
}

.circlee {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #70BDF5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
}

.circle-text1 {
    display: none;
    transform: translateY(-40px);
    white-space: nowrap;
    max-width: 1100%;
    font-size: 0.75rem;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    font-size: clamp(0.875rem, 0.801rem + 0.4386vw, 1.5rem);
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: #fff;
}

.linee:first-child {
    background: linear-gradient(to right, #fff 0%, #000 59%);

}

.linee:last-child {
    background: linear-gradient(to right, #000 51%, #fff 100%);

}

.one-second-wor {
    padding: 10vh 0;

}

.about-img {
    width: 100%;
    border-radius: 50px;
    margin: 0 auto;
    width: 50%;
    display: block;
    transform: translateY(50%);
    cursor: pointer;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.black {
    color: #000 !important;
}

.mrgin {
    margin-top: 32px;
}

.whited-out {
    width: 100%;
    background-color: white;
    padding: 10vh 0;

}

.whited-wrapper {
    width: 90%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 60% !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;

}

.mySwiper {
    padding-top: 10vh !important;
}


.arrows {
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-next,
.button-prev {
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-next:hover {
    background-color: black;
}

.button-prev:hover {
    background-color: black;
}

.button-next:hover .arrow,
.button-next:hover .arrow::before,
.button-next:hover .arrow::after {
    background-color: #fff;
    /* Change arrow color to black on hover */
}

.button-prev:hover .arrow,
.button-prev:hover .arrow::before,
.button-prev:hover .arrow::after {
    background-color: #fff;
    /* Change arrow color to black on hover */
}


.arrow {
    display: block;
    position: relative;
    width: 15px;
    /* Length of the arrow */
    height: 2px;
    /* Thickness of the arrow */
    background-color: black;
    /* Arrow color */
}

/* Arrow for the previous button "<" */
.button-prev .arrow::before {
    content: '';
    position: absolute;
    top: -3px;
    /* Adjust distance from the center line */
    left: 7px;
    width: 10px;
    /* Length of the angled line */
    height: 2px;
    /* Thickness of the angled line */
    background-color: black;
    transform: rotate(45deg);
    /* Angle of the line */
}

.button-prev .arrow::after {
    content: '';
    position: absolute;
    bottom: -3px;
    /* Adjust distance from the center line */
    left: 7px;
    width: 10px;
    /* Length of the angled line */
    height: 2px;
    /* Thickness of the angled line */
    background-color: black;
    transform: rotate(-45deg);
    /* Angle of the line */
}

/* Arrow for the next button ">" */
.button-next .arrow::before {
    content: '';
    position: absolute;
    top: -3px;
    /* Adjust distance from the center line */
    right: 7px;
    width: 10px;
    /* Length of the angled line */
    height: 2px;
    /* Thickness of the angled line */
    background-color: black;
    transform: rotate(-45deg);
    /* Angle of the line */
}

.button-next .arrow::after {
    content: '';
    position: absolute;
    bottom: -3px;
    /* Adjust distance from the center line */
    right: 7px;
    width: 10px;
    /* Length of the angled line */
    height: 2px;
    /* Thickness of the angled line */
    background-color: black;
    transform: rotate(45deg);
    /* Angle of the line */
}


.zivali-main {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.zivali-wrapper{
    width: 90%;
    margin: 0 auto;
}

.zivali-first-row{
    display: flex;
    justify-content: space-between;
}

.zivali-left{
    width: 40%;
}

.zivali-right{
    width: 50%;
}

.zivali-second-row{
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    margin-top: 7rem;
}

.second-img2-wrapper{
    width: 40%;
    
}

.second-img1-wrapper{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-img3-wrapper{
    width: 30%;
}

.plant-img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 1600px) {

    .one-first-left {
        width: 45%;
    }

    .one-first-right {
        width: 45%;
    }

}

@media (max-width: 1200px) {
    .zivali-second-row{
        
        margin-top: 4rem;
    }

    .zivali-first-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .zivali-left{
        width: 100%;
    }
    
    .zivali-right{
        width: 100%;
        margin-top: 24px;
    }

    
    .zivali-main {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
    .one-first-row {
        flex-direction: column;
    }

    .one-first-left {
        width: 100%;
    }

    .one-first-right {
        width: 100%;
    }

    .left-row {
        justify-content: space-between;
    }

    .left-row-cell {
        width: 40%;
    }

    .left-row-cell-wrapper {
        width: 100%;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

}

@media (max-width: 600px) {
    .circle-text1 {
        font-size: 10px;
    }
    .zivali-second-row{
        
        gap: 1rem;
        
    }
    
    .left-row {
        flex-direction: column;
    }

    .left-row-cell {
        width: 100%;
        margin-bottom: 24px;
    }

    .line2 {
        width: 20%;
    }

    .line3 {
        width: 20%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 90% !important;
    }

    .button-next,
    .button-prev {
        width: 48px;
        height: 48px;
        background-color: #fff;
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .button-next:hover {
        background-color: black;
    }

}