.bubble-main{
    width: 100%;
    height: 100%;
    transform: translateY(4rem);
    
}

.bubble-wrapper{
    width: 100%;
    margin: 0 auto;
    
    
}

.combined-image{
    width: 100%;
    z-index: 3;
    position: relative;
  }

.bubbles{
    position:relative;
    width:80%;
    height: 100%;
    z-index:0;
    
    top:0;
    left:50%;
    transform: translate(-50%,0%);
    z-index: 1;
    
    margin-top: 0rem;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#70BDF5;
    border-radius:50%;
    opacity:0.5;
    animation: rise 20s infinite ease-in;
    z-index: 1;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation: rise2 10s infinite ease-in;
    animation-duration:16s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:10s;
    animation: rise2 20s infinite ease-in;
    animation-delay:2s;
    background: #D2E0ED;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:14s;
    animation-delay:4s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:22s;
    animation-delay:0s;
    background: #D2E0ED;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation: rise2 20s infinite ease-in;

    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation: rise2 20s infinite ease-in;

    animation-duration:18s;
    animation-delay:6s;
    background: #D2E0ED;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:22s;
    animation-delay:4s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:12s;
    animation-delay:4s;
    background: #D2E0ED;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:10s;
    animation-delay:2s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:20s;
    animation-delay:8s;
    background: #D2E0ED;
  }

  @keyframes rise{
    0%{
      bottom:50px;
      transform:translateX(0);
      opacity: 1;
    }
    50%{
      transform:translate(100px);
      opacity: 1;
    }
    100%{
      bottom:100%;
      transform:translateX(-200px);
      opacity: 0.0;
    }
  }

  @keyframes rise2{
    0%{
      bottom:50px;
      transform:translateX(0);
      opacity: 1;
    }
    50%{
      transform:translate(-100px);
      opacity: 1;
    }
    100%{
      bottom:100%;
      transform:translateX(200px);
      opacity: 0.0;
    }
  }

  

  @media (max-width: 1000px){
    .bubble-main{
      width: 100%;
      height: 100%;
      transform: translateY(0rem);
      
  }
  
    .bubble-wrapper{
        width: 100%;
        margin: 0 auto;
    }

    .bubbles{
        position:relative;
        width:90%;
        height: 100%;
        
        top:0;
        left:0%;
        transform: translate(5%,0%);
      }

      .bubble{
        transform: scale(0.5) !important;
      }
  }